:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #d6ccca; 
  background-color: #0d1f35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #root {
  margin: 0 auto;
  place-items: center;
  min-width: 80vw;
  min-height: 100vh;
  color: #d6ccca; 
  background-color: #0d1f35;  
}
