nav.navbar.bg-light {
  color: white;
  background-color: #162948 !important; /* ensures override of Bootstrap */
  width: 100%;
}

.navbar a {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}
.navbar a:hover {
  color: #ddd !important;
  font-weight: bold;
}